<ion-view cache-view="false" view-title="我的">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img ng-src="img/ben.png">
        <div class="text-right" style="display:block;float:right;">
          <a class="button button-light button-small" href="#">修改密码</a>
        </div>
        <h2>{{user_name}}</h2>
        <p>{{cell}}</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-toggle  ng-model="settings.enableRotation">
        允许屏幕旋转
      </ion-toggle>
    </ion-list>
    <ion-list>
      <h4 class="title padding-left">我的投票记录</h4>
      <div class="list card" ng-repeat="video in videos">
        <div class="item item-image">
          <img src="{{video.screenshot}}" width="50%">
          <div class="row">
            <div class="col col-60">
              【视频名】{{video.name}}
            </div>
            <div class="col col-40">
              <h2 class="energized">【投票数】{{video.vote}}</h2>
            </div>
          </div>
        </div>
      </div>
    </ion-list>

    <div class="text-center" ng-click="logout()">
      <i class="button button-balanced button-full">退出登录&nbsp;&nbsp;</i>
    </div>

  </ion-content>
</ion-view>
