<ion-view view-title="慈文logo 名字">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">最近更新</div>
      <div class="item item-body">
        <a class="button button-clear" ui-sref="signin">login</a>
        <div>{{data}}</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">测试</div>
      <div class="item item-body">
        <div>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/youku.html"> 优酷</a>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/vqq.html"> 腾讯</a>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/bilibili.html"> bilibili</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
