<ion-view view-title="片花分享">
  <ion-content>
    <ion-list>
      <div class="x">
        <label class="item item-input item-select">
          <h4 class=""> 视频分类 </h4>
          <select class="padding" ng-model="optionCat" ng-change="selectAction(optionCat)"
                  ng-options="cat.id as cat.name for cat in cats">
            <!--<option>&#45;&#45; 请选择 &#45;&#45;</option>-->
          </select>
        </label>
      </div>

      <ion-item class="item-remove-animate item-image item-icon-right" ng-repeat="video in videos"
                type="item-text-wrap" href="#">
        <img ng-src="{{video.screenshot}}">
        <h2>【视频标题】{{video.name}}</h2>
        <p>【作者名】{{video.author}}</p>
        <p>{{video.content}}</p>
        <div class="text-center">
          <i class='button button-light button-small' style="padding: 0 50px;">下载</i>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="share(video)">
          下载
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
