<ion-view view-title="首页">
  <ion-content class="">
    <div class="item item-divider">热门推荐</div>
    <style>
      a{
        text-decoration:none;
      }
    </style>

    <iframe  id="iframepage" name="iframepage" src="mvqq.html?vid=m0173tyhpz1" width="100%" height="{{videoHeight() + 20}}"
             frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"
             style="margin-top: -50px"></iframe>

    <div class="row">
      <div class="col col-50">
        <a href="#/tab/video/1?id=1&vid=l0173js75qp">
          <img src="http://product.geiliyou.com/ciwen/asset/l0173js75qp.JPG" width="100%" />
          <p>
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/tab/video/2?id=2&vid=m0173tyhpz1">
          <img src="http://product.geiliyou.com/ciwen/asset/m0173tyhpz1.JPG"  width="100%" />
          <p>
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a href="#/tab/video/2?id=2&vid=m0173tyhpz1">
          <img src="http://product.geiliyou.com/ciwen/asset/m0173tyhpz1.JPG"  width="100%" />
          <p class="royal">
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/tab/video/1?id=1&vid=l0173js75qp">
          <img src="http://product.geiliyou.com/ciwen/asset/l0173js75qp.JPG" width="100%" />
          <p>
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a href="#/tab/video/1?id=1&vid=l0173js75qp">
          <img src="http://product.geiliyou.com/ciwen/asset/l0173js75qp.JPG" width="100%" />
          <p>
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/tab/video/2?id=2&vid=m0173tyhpz1">
          <img src="http://product.geiliyou.com/ciwen/asset/m0173tyhpz1.JPG"  width="100%" />
          <p>
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a href="#/tab/video/2?id=2&vid=m0173tyhpz1">
          <img src="http://product.geiliyou.com/ciwen/asset/m0173tyhpz1.JPG"  width="100%" />
          <p>
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/tab/video/1?id=1&vid=l0173js75qp">
          <img src="http://product.geiliyou.com/ciwen/asset/l0173js75qp.JPG" width="100%" />
          <p>
            【视频标题】OP名称   <br/>
            【作者名】慈文传媒
          </p>
        </a>
      </div>
    </div>

    <div class="list card hide">
      <div class="item item-divider">测试</div>
      <div class="item item-body">
        <div>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/youku.html"> 优酷</a>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/vqq.html"> 腾讯</a>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/bilibili.html"> bilibili</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
