<ion-view view-title="{{title}}">
  <ion-content class="">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="item item-divider">热门推荐</div>
    <style>
      a{
        text-decoration:none;
        color:gray;
      }
    </style>

    <!--<vjs-video-container vjs-ratio="16:9">-->
      <!--<video class="video-js vjs-default-skin" width="50" height="50" controls preload="auto"-->
             <!--poster="http://video-js.zencoder.com/oceans-clip.png">-->
        <!--<source src="http://101.200.81.99:8080/ciwen/test2x.mp4" type='video/mp4' />-->
      <!--</video>-->
    <!--</vjs-video-container>-->

    <video  class="video-js vjs-default-skin vjs-big-play-centered" on-finish-render ng-repeat="video in videos | limitTo:1"
           controls preload="auto" style="width: 100%" height="{{videoHeight()}}" id="main_video{{videoid}}"
           poster="{{video.screenshot}}">
      <source src="http://101.200.81.99:8080/ciwen/test2x.mp4" type='video/mp4'>
    </video>
    <!--<iframe  id="iframepage" name="iframepage" src="mvqq.html?vid=m0173tyhpz1" width="100%" height="{{videoHeight() + 20}}"-->
             <!--frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"-->
             <!--style="margin-top: -50px"></iframe>-->


    <div class="row">
      <div class="col col-50" ng-repeat="video in videos | limitTo:2:0">
        <a href="#/tab/video/{{video.id}}?id={{video.id}}&vid={{video.url}}">
          <img src="{{video.screenshot}}" width="100%" />
          <p>
            {{video.name}}<br/>
            {{video.author}}
          </p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50" ng-repeat="video in videos | limitTo:2:2">
        <a href="#/tab/video/{{video.id}}?id={{video.id}}&vid={{video.url}}">
          <img src="{{video.screenshot}}" width="100%" />
          <p>
            {{video.name}}<br/>
            {{video.author}}
          </p>
        </a>
      </div>
    </div>


    <div class="list card hide">
      <div class="item item-divider">测试</div>
      <div class="item item-body">
        <div>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/youku.html"> 优酷</a>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/vqq.html"> 腾讯</a>
          <a class="button button-clear" href="http://product.geiliyou.com/ciwen/bilibili.html"> bilibili</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
