<ion-view cache-view="false" view-title="详细视频">
  <ion-content>
    <iframe  id="iframepage" name="iframepage" src="{{videosrc}}" width="100%" height="{{videoHeight()}}"
             frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>

    <div class="text-center energized">399</div>
    <ion-list>
      <ion-item class="text-center">
        <i class="button icon ion-share icon-left button-light">分享</i>
        <i class="button icon ion-ios-color-wand-outline icon-left button-light">投票</i>
      </ion-item>
      <ion-item>
        <div></div>
        <h4>视频简介</h4>
        <p>
          《寄生兽》是岩明均1990年到1995年间连载的人气漫画。某天地球上空出现许多孢子，其中诞生的幼虫侵入人体后，可以吞噬掉宿主的头部取而代之，从而管理这个“尸体”。主角泉新一是被寄生生物寄生的人类之一，但是由于某种意外，寄生在他体内的生物“MIGI”并没有吃掉他的脑，而是取代了他的右手。作品中对人类的存在，以及对于地球的主宰性具有相当批判的角度。
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

