<ion-view cache-view="false" view-title="详细视频">
  <ion-content>
    <iframe  id="iframepage" name="iframepage" src="{{videosrc}}" width="100%" height="{{videoHeight() + 20}}"
             frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"
             style="margin-top: -50px"></iframe>

    <div class="text-center energized">{{video.vote}}</div>
    <ion-list>
      <ion-item class="text-center">
        <i class="button icon ion-share icon-left button-light">分享</i>
        <i class="button icon ion-ios-color-wand-outline icon-left button-light" ng-click="voteIt()">投票</i>
      </ion-item>
    </ion-list>
    <div class="padding">
    <h4>视频简介</h4>
    <p>
      {{video.content}}
    </p>
    </div>
  </ion-content>
</ion-view>

