# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/


/.idea/


###############
#  fixed file #
###############
.gitignore
*.exe
*.txt
#*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep

###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
#*.ini
*.fig
*.cmp
*.tmp